<!-- contenido principal del sistema-->
<div class="inicio_contenido">
    <div class="contenido_pagina">
        <div class="texto">Dashboard</div>
        <!-- Mostrará una lista de todas las habitaciones del hotel-->
        <div class="habitaciones_lista">
            <!-- cada habitación se contendrá en una caja y estas tendrán un id único, 
            con sus categoria y el estado en que se encuentre-->
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 001-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion1.jpg">
                        <div class="detalle_titulo">Habitación NRO: 001</div>
                        <div class="detalle_categoria">Categoria: Individual</div>
                        <div class="detalle_disponibilidad_limpieza">Estado: Limpieza ></div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 002-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion2.jpg">
                        <div class="detalle_titulo">Habitación NRO: 002</div>
                        <div class="detalle_categoria">Categoria: Doble</div>
                        <div class="detalle_disponibilidad_ocupado">Estado: Ocupado ></div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 003-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion2.jpg">
                        <div class="detalle_titulo">Habitación NRO: 003</div>
                        <div class="detalle_categoria">Categoria: Doble</div>
                        <div class="detalle_disponibilidad">Estado: Disponible ></div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 004-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion1.jpg">
                        <div class="detalle_titulo">Habitación NRO: 004</div>
                        <div class="detalle_categoria">Categoria: Individual</div>
                        <div class="detalle_disponibilidad">Estado: Disponible ></div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 005-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion1.jpg">
                        <div class="detalle_titulo">Habitación NRO: 005</div>
                        <div class="detalle_categoria">Categoria: Individual</div>
                        <div class="detalle_disponibilidad_ocupado">Estado: Ocupado ></div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 006-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion1.jpg">
                        <div class="detalle_titulo">Habitación NRO: 006</div>
                        <div class="detalle_categoria">Categoria: Individual</div>
                        <div class="detalle_disponibilidad">Estado: Disponible ></div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 007-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion2.jpg">
                        <div class="detalle_titulo">Habitación NRO: 007</div>
                        <div class="detalle_categoria">Categoria: Doble</div>
                        <div class="detalle_disponibilidad_limpieza">Estado: Limpieza ></div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 008-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion1.jpg">
                        <div class="detalle_titulo">Habitación NRO: 008</div>
                        <div class="detalle_categoria">Categoria: Individual</div>
                        <div class="detalle_disponibilidad">Estado: Disponible ></div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 009-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion1.jpg">
                        <div class="detalle_titulo">Habitación NRO: 009</div>
                        <div class="detalle_categoria">Categoria: Individual</div>
                        <div class="detalle_disponibilidad">Estado: Disponible ></div>
                    </div>
                </a>
            </div>
            <div class="habitaciones_box">
                <a routerLink="/gestion">
                    <!-- habitación 010-->
                    <div class="habitacion">
                        <img src="habitaciones/habitacion2.jpg">
                        <div class="detalle_titulo">Habitación NRO: 010</div>
                        <div class="detalle_categoria">Categoria: Doble</div>
                        <div class="detalle_disponibilidad_ocupado">Estado: Ocupado ></div>
                    </div>
                </a>
            </div>
        </div>
        <!-- fin del listado de habitaciones, este listado será generado por la base de datos, 
        por ahora solo es un diseño -->
    </div>
</div>