<!-- contenido principal del sistema-->
<div class="inicio_contenido">
    <div class="contenido_pagina">
        <div class="tarjeta sombra-sm">
            <div class="tarjeta_cuerpo p-3">
                <h6 class="tarjeta-title fuente_negrita texto-primario" style="font-size: 15px;">Resumen de la Habitación</h6>
                <div class="form-fila">
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Número:</label>
                        <label class="form-texto">001</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Detalles:</label>
                        <label class="form-texto">Detalles</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Categoria:</label>
                        <label class="form-texto">Individual</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Piso:</label>
                        <label class="form-texto">PRIMER</label>
                    </div>
                </div>
                <div class="form-fila">
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Cliente:</label>
                        <label class="form-texto mb-0">Erick Toala</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Nro. Documento:</label>
                        <label class="form-texto mb-0">0803413111</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Correo:</label>
                        <label class="form-texto mb-0">toalaercik56@gmail.com</label>
                    </div>
                    <div class="columna-md-3">
                        <label class="form-texto fuente_negrita mb-0">Fecha Entrada:</label>
                        <label class="form-texto mb-0">28/10/2022</label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="tarjeta mt-3 sombra-sm">
            <div class="tarjeta_encabezado tarjeta-title fuente_negrita texto-primario">
                Detalle venta
            </div>
            <div class="tarjeta_cuerpo card-body p-3">
                <div class="form-fila alinear-elementos-fin">
                    <div class="columna-md-3">
                        <label for="validationCustom01">Producto:</label>
                        <select id="cboproducto" class="control_entrada"></select>
                    </div>
                    <div class="columna-md-2">
                        <label for="validationCustom01">Precio:</label>
                        <input type="text" class="control_entrada" id="txtprecio" disabled="disabled">
                    </div>
                    <div class="columna-md-2">
                        <label for="validationCustom01">Cantidad</label>
                        <input type="number" class="control_entrada" id="txtcantidad" value="1" min="1" max="10">
                    </div>
                    <div class="columna-md-2">
                        <button id="btnagregarproducto" class="btn btn-success btn-block" type="button">Agregar</button>
                    </div>
                </div>
                <hr />
    
                <div class="fila">
                    <div class="columna-12">
                        <table class="tabla tabla_bordes tabla-sm" id="tbventa">
                            <thead class="thead-oscuro">
                                <tr>
                                    <th></th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio Unitario</th>
                                    <th scope="col">Sub Total</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Agua</th>
                                    <th>2</th>
                                    <th>0.50</th>
                                    <th>1.00</th>
                                </tr>
                            </thead>
                            <tbody>
    
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="fila justificar-contenido-fin">
                    <div class="columna-3 alinear-auto-final">
                        <table class="tabla tabla-sm borde-oscuro borde-derecho borde-superior borde-inferior">
                            <tr>
                                <td class="fondo-oscuro texto_blanco">Total Pagar</td>
                                <td><label id="lbltotalpagar" class="m-0">0</label></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <hr />
                <div class="fila justificar-contenido-fin">
                    <div class="columna-4">
                        <div class="grupo-entrada">
                            <div class="grupo-entrada-antepuesto">
                                <label class="grupo-entrada-texto" for="inputGroupSelect01">Estado Venta</label>
                            </div>
                            <select class="seleccion-personalizada" id="cboestadoventa">
                                <option value="Pendiente">Pendiente</option>
                                <option value="Cancelado">Cancelado</option>
                            </select>
                        </div>
                    </div>
                    <div class="columna-2">
                        <button id="btnfinalizarventa" class="btn btn-primary btn-block" type="button">Finalizar Venta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>