<!-- contenido principal del sistema-->
<div class="inicio_contenido">
    <div class="contenido_pagina">
        <div class="tarjeta sombra-sm mt-2">
            <div class="tarjeta_cuerpo p-3">
                <h6 class="tarjeta_titulo fuente_negrita texto-primario" style="font-size: 15px;">Exportar Recepciones</h6>
                <hr class="mt-1 mb-1" />
    
                    <div class="fila_form alinear-elementos-fin">
                        <div class="columna-md-3">
                            <label class="form-texto fuente_negrita">Número Habitación:</label>
                            <select id="cbohabitacion" name="idhabitacion" class="control_entrada">
                                <option value="value1">NUM: 001</option>
                                <option value="value2">NUM: 002</option>
                                <option value="value3">NUM: 003</option>
                                <option value="value1">NUM: 004</option>
                                <option value="value2">NUM: 005</option>
                                <option value="value3">NUM: 006</option>
                                <option value="value1">NUM: 007</option>
                                <option value="value2">NUM: 008</option>
                                <option value="value3">NUM: 009</option>
                            </select>
                        </div>
                        <div class="columna-md-3">
                            <label class="form-texto fuente_negrita">Fecha Inicio:</label>
                            <input name="fechainicio" class="control_entrada" value="27/10/2022" />
                        </div>
                        <div class="columna-md-3">
                            <label class="form-texto fuente_negrita">Fecha Fin:</label>
                            <input name="fechafin" class="control_entrada" value="28/10/2022" />
                        </div>
                        <div class="columna-md-3">
                            <button type="submit" class="btn btn-block btn-success"><i class="fa fa-download" aria-hidden="true"></i> Descargar</button>
                        </div>
                    </div>
        
            </div>
        </div>
    </div>
</div>